* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde: #23EEC2;
    --branco: #fff;
    --roxo: #30347B;
    --rosa-claro: #ecbbcb;
    --preto: #000000;
    --cinza: #989ea3;
}

.footer {
    text-align: center;
    padding: 15px 0;
    color: var(--preto);
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.footer-links a {
    color: var(--roxo);
    font-size: 13px;
}